

html {
  scroll-padding-top: 150px; /* Match your header's height */
}

body {
  background-color: #F2F2F2;
  margin: 0;
}

#header-img {
  width: 150px;
  height: 150px;
}

header nav {
  padding: 5px;
}

header a {
  margin: 7px;
  font-size: 18px;
  text-decoration: none;
  color: black;
  font-weight: 700
}

header a:hover {
  color: #13D113;
}

ul li {
  padding: 10px;
}

header {
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.push-down {
  margin-top: 150px;
}

section {
  box-sizing: border-box;
  margin-top: 20px;
  width: 100%;
  padding: 10px;  
}

.video {
  border: solid;
  border-radius: 10px;
  display: block;
  width: 560px; 
  margin: 50px auto;
  height: 315px;
}

h1{
  text-align: center;
  font-size: 29px;
}

h2, p {
  text-align: center;
}

span {
  font-weight: 700;
}

.product {
  width: 300px;
  height: 300px;
}

.img-box {
  display: flex;
  justify-content: space-around;
}

.img-box img {
  border: 1px solid;
  border-radius: 10px;
}

.img-box div {
  display: inline;
}

blockquote {
  width: 90%;
  text-align: center;
}

hr {
  width: 70%;
}

footer {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  background-color: grey;
  width: 100%;
  padding: 20px;
}

footer a {
  margin: 3px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

input[type=email] {
  width: 250px;
  height: 30px
}
input[type=submit] {
  height: 30px;
}


@media only screen and (max-width: 800px) {
  .img-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

}


